body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffebd2, #ffc107, #fff4e6, #ffe0b3);
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 3em;
    color: #333;
}

.container p {
    font-size: 1.5em;
    color: #666;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.6em;
    font-weight: bold;
}

footer a {
    color: #3b73cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

blockquote {
    font-size: 1.2em;
    color: #888;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

blockquote small {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

blockquote::before, blockquote::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: sparkle 2s infinite ease-in-out;
}

blockquote::before {
    top: 10px;
    left: 10px;
    animation-delay: 0.5s;
}

blockquote::after {
    bottom: 10px;
    right: 10px;
    animation-delay: 1s;
}

@keyframes sparkle {
    0%, 100% { opacity: 0; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1.5); }
}
