body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    font-size: 1.5em;
    color: #666;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.6em;
    font-weight: bold;
}

footer a {
    color: #3b73cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


header {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 1.5em;
    color: #333;
}

blockquote {
    font-size: 1.2em;
    color: #888;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;

    background-color: #f9f9f9;
}

blockquote small {
    display: block;
    margin-top: 5px;
    font-size: 1.2em;
    color: #555;
}